* {
  margin: 0;
  padding: 0;
  font-family: "Trispace", sans-serif;
  box-sizing: border-box;
  accent-color: rgb(168, 189, 144);
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

#loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(168, 189, 144);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3000;
  transition: opacity 0.2s ease;
}

#loadingPage.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader {
  display: block;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
}

.loader img {
  scale: 0.7;
}

.Vid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingVid {
  display: flex;
  justify-content: center;
  align-items: center;
}


.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

a:link,
a:visited {
  color: black;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  background-color: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(4px);
  color: rgb(255, 255, 255);
  padding: 1.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  font-size: 3rem;
  font-weight: 300;
  text-wrap: nowrap;
}

.logo:hover {
  color: rgb(168, 189, 144);
  transition: 0.2s ease-out;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

li a {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 100;
}
li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 1.5px;
  top: 20px;
  border-radius: 2rem;
  transition: 0.2s ease-out;

  background: rgb(168, 189, 144);
}
li a:hover::before {
  width: 100%;
}

hamburger-nav {
  display: none;
}
#menu-icon {
  display: flex;
  color: black;
  align-items: center;
}

#menu-icon:hover {
  color: rgb(168, 189, 144);
  transition: 0.2s ease-out;
  cursor: pointer;
}

section {
  position: relative;
  padding: 5rem;
  width: 100%;
  margin-top: 6rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.about img {
  width: 45vh;
  border-radius: 50%;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

.info-box h3 {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 1;
  margin-bottom: 1rem;
}

.info-box h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.info-box span {
  color: black;
  font-size: 1rem;
}

.btn-group {
  padding: 1rem 2rem;
  gap: 1.2rem;
  align-content: center;
}

.btn {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  border: 1.2px solid black;
  cursor: pointer;
  align-items: center;
  font-weight: 100;
  text-wrap: nowrap;
  transition: 0.1s ease-in-out;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: rgb(168, 189, 144);
  border: 1.2px solid rgb(168, 189, 144);
  color: white;
}

.socials {
  gap: 3rem;
  align-content: center;
}

.socials i {
  font-size: 1rem;
  cursor: pointer;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.experience-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 5rem;
}

.exp-grid {
  display: flex;
  align-items: flex-start;

  justify-content: center;
}

.exp-grid-card {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2rem;
  margin: 2rem;
  padding: 1.5rem;
  width: 30%;
  align-items: center;
  justify-content: center;
  cursor: grab;
  background: rgb(204, 204, 204);
}

.exp-grid-card:hover {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.295),
    rgb(192, 192, 192)
  );
  color: rgb(133, 133, 133);
  transition: 0.2s ease-in;
}

.exp-grid-card i {
  font-size: 1rem;
  margin-right: 5px;
}

.exp-grid-card span {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  font-weight: 400;
  background: rgb(99, 99, 99);
  background-clip: text;
  color: transparent;
  line-height: 0.3rem;
}

.exp-grid-card h3 {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2rem;
}

.exp-grid-card p {
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1.2rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(126, 126, 126);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  gap: 2rem;
}

.project-card {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
  border-radius: 3rem;
  cursor: crosshair;
  transition: 0.05s ease-in-out;
}

.projects {
  display: block;
}

.projects-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.project-card img {
  width: 20vw;
  display: block;
  border-radius: 3rem;
}

.project-card:hover {
  background: rgb(129, 138, 119);
  color: rgb(255, 255, 191);
  box-shadow: 0 0.2rem 0.8rem 0.1rem rgb(185, 185, 185);
  transform: translateY(-10px);
}

.project-card:hover .btn {
  border: 2px solid white;
  color: white;
}

.project-card:hover .btn:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
}
.project-card h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

img {
  display: flex;
  justify-content: center;
  margin: auto;
}

.modeling {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design-card,
.booklets-card,
.modeling-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1rem;
  margin: 3rem;
}

contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.design-card projectmoosic {
  padding: 100px;
}

.design-card .projectimg-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#contact-text {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.spline-container {
  position: relative;
  border: 1px solid black;
  border-radius: 3rem;
  overflow: hidden;
  width: 900px;
  height: fit-content;
}

spline-viewer {
  display: block;
  width: 100%;
  height: 100%;
}

.image-container {
  margin: 2rem;
}

footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer ul li a {
  color: black;
  font-weight: 200;
  letter-spacing: -2px;
}

.copyright {
  margin-top: 3rem;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: -2px;
}

@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
}
.about .about-container {
  gap: 3rem;
}

.experience-text {
  padding: 5rem;
}

@media (max-width: 768px) {
  header {
    padding: 1rem 1rem;
    gap: 1rem;
  }
  header .logo {
    font-size: 2.4rem;
  }
  header .visit-btn {
    display: none;
  }

  .about-container {
    flex-direction: column;
  }

  .experience-info img {
    width: 70vw;
  }
  footer ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  header #menu-icon {
    display: flex;
  }
  .nav-links {
    position: absolute;
    transform: translateY(-10px);
    transform: 0.3s ease;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.801);
    backdrop-filter: blur(4px);
    border-radius: 3rem;
    display: none;
  }

  .project-grid {
    flex-wrap: wrap;
  }

  .experience-text grid {
    flex-wrap: wrap;
  }

  .nav-links li {
    margin-top: 1.5rem;
    padding: 0.03rem;
  }
  .nav-links.active {
    display: block;
  }
  header {
    padding: 1rem 5rem;
    gap: 8rem;
  }
  header .logo {
    font-size: 1.5rem;
  }
  .about-container img {
    width: 80vw;
  }

  foot ul {
    gap: 1rem;
  }
}
